<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>내가 쓴 글들</title>
</head>

<body>
    <% let address=board.result[0].user_address.split(' ');
            address = address[0]+' '+address[1]+' '+address[2];    
        %> <!-- 주소 자르기 -->
        <div style="text-align: left; margin-left: 10%; margin-right: 10%; margin-top: 5%;">
            <hr>
            <h4>마이페이지</h4>
            <button type="button" class="btn btn-outline-primary" onClick="location.href=' /v2/home/0'">홈으로</button>

        <hr>
        <span>
            <% if(board.result[0].user_profile) { %>
                <img style="width: 10%; height: 10%;" src="/images/board/<%=board.result[0].user_profile%>">
                <!-- 프로파일 -->
            <% } else { %>
                <img style="width:  10%; height: 10%;" src="/images/profile.png">
            <% } %>
                        <input id="nowNickname" type="hidden" value="<%=board.result[0].nickname%>">
                        <!-- 현재 누구의 마이페이지를 보고 있는지 -->
                        <button id="btn_profile" class="btn btn-outline-secondary">수정</button>
        </span>
        <ul>
            <li>닉네임: <%=board.result[0].nickname%>
            </li> <!-- 닉네임 -->
            <li>주소: <%=address%>
            </li> <!-- 주소 -->
        </ul>
        <hr>

        <div id="btn_group">
            <button type="button" class="btn btn-outline-success" id="btn_all"
                onclick="buttonDisabled(this,'btn_group')" value="전체" disabled>전체</button>
            <button type="button" class="btn btn-outline-success" id="btn_sell"
                onclick="buttonDisabled(this,'btn_group')" value="판매">판매중</button>
            <button type="button" class="btn btn-outline-success" id="btn_reservation"
                onclick="buttonDisabled(this,'btn_group')" value="예약">예약중</button>
            <button type="button" class="btn btn-outline-success" id="btn_soldout"
                onclick="buttonDisabled(this,'btn_group')" value="판매완료">판매완료</button>
        </div>
        <p>🐈 판매상품보기</p>
        <hr>

        <div style="text-align: center; clear: both;" id="mypage_board_content">
            <!--이 안은 해당 닉네임 게시판 -->
        </div>
        <!-- css float 여기서부터  clear 해버림 -->
        <div id="nav_bar_btn_group" style="clear:both;">
            <hr>
            <div id="div_numberbar_arrow"> <!-- 네비게이션 바 --></div>
            <hr>
        </div>
        </div>

        <script src="/javascripts/cookie.js" type="text/javascript"></script>
        <script src="/javascripts/fetch.js" type="text/javascript"></script>
        <script>
            let token = getCookie('x_auth'); //토큰 꺼내기
        </script>
        <script src="/javascripts/mylist.js"></script>
</body>

</html>